html,
body {
	margin: 0;
	padding: 0;
}


body {
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #eeeeee;
	color: #333333;
	width: 520px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
}


#todoapp {
	background: #fff;
	padding: 20px;
        margin-top: 40px;
	margin-bottom: 40px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
	-ms-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
	-o-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
	box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-ms-border-radius: 0 0 5px 5px;
	-o-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}


#todoapp h1 {
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	padding: 0 0 10px 0;
}


#todoapp input[type="text"] {
	width: 466px;
	font-size: 24px;
	font-family: inherit;
	line-height: 1.4em;
	border: 0;
	outline: none;
	padding: 6px;
	border: 1px solid #999999;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	-ms-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	-o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
}

#toggle-all{
    margin-top:  10px;
}


#todoapp input::-webkit-input-placeholder {
	font-style: italic;
}


#main {
	display: none;
}

.rule{
        color: rgb(51, 51, 51);
        display: block;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 36px;
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        height: 19px;
        line-height: 19.59375px;
        padding-bottom: 20px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 10px;
        text-align: center;
        width: 860px;
}

#todo-list {
	margin: 10px 0;
	padding: 0;
	list-style: none;
}


#todo-list li {
	padding: 18px 20px 18px 0;
	position: relative;
	font-size: 20px;
	border-bottom: 1px solid #cccccc;
}


#todo-list li:last-child {
	border-bottom: none;
}


#todo-list li.done label {
	color: #777777;
}


#todo-list .destroy {
	position: absolute;
	right: 5px;
	top: 20px;
	display: none;
	cursor: pointer;
	width: 20px;
	height: 20px;
	background: url(flick/images/destroy.png) no-repeat;
}


#todo-list li:hover .destroy {
  	display: block;
}


#todo-list .destroy:hover {
  	background-position: 0 -20px;
}


#todo-list li.editing,
#todo-list li.editingRuleName,
#todo-list li.editingRuleDescription
{
	border-bottom: none;
	margin-top: -1px;
	padding: 0;
}

#todo-list li.editingRuleText,
#todo-list li.editingruleInputParameters
{
    	border-bottom: none;
	margin-top: -1px;
	padding: 0;
        font-weight: normal;
        font-size:18px;
        font-style: italic;
}


#todo-list li.editing:last-child,
#todo-list li.editingRuleText:last-child,
#todo-list li.editingRuleName:last-child,
#todo-list li.editingRuleDescription:last-child,
#todo-list li.editingruleInputParameters:last-child{
	margin-bottom: -1px;
}


#todo-list li.editing .edit,
#todo-list li.editingRuleName .editRuleName,
#todo-list li.editingRuleDescription .editRuleDescription
{
	display: block;
	width: 444px;
	padding: 13px 15px 14px 20px;
	margin: 0;
}

.result 
{
        border: solid #999999;
    	word-break: break-all;
        font-weight: bold;
}

#todo-list li.editingRuleText .editRuleText,
#todo-list li.editingruleInputParameters .editruleInputParameters
{
	display: block;
	width: 444px;
	padding: 13px 15px 14px 20px;
	margin: 0;
        font-weight: normal;
        font-size:18px;
        font-style: italic;
}


#todo-list li.editing .view,
#todo-list li.editingRuleName .viewRuleName,
#todo-list li.editingRuleDescription .viewRuleDescription,
#todo-list li.editingRuleText .viewRuleText,
#todo-list li.editingruleInputParameters .viewruleInputParameters
{
	display: none;
}


#todo-list li .view label,
#todo-list li .viewRuleName label
{
	word-break: break-all;
        display: block;
}

#todo-list li .viewRuleDescription label
{
	word-break: break-all;
        display: block;
        font-weight: normal;
}

#todo-list li .viewRuleText label,
#todo-list li .viewruleInputParameters label   
{
    	word-break: break-all;
        font-weight: normal;
        display: block;
        font-size:18px;
        font-style: italic;
}


#todo-list li .edit,
#todo-list li .editRuleName,
#todo-list li .editRuleDescription,
#todo-list li .editRuleText,
#todo-list li .editruleInputParameters
{
	display: none;
}


#todoapp footer {
	display: none;
	margin: 0 -20px -20px -20px;
	overflow: hidden;
	color: #555555;
	background: #f4fce8;
	border-top: 1px solid #ededed;
	padding: 0 20px;
	line-height: 37px;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-ms-border-radius: 0 0 5px 5px;
	-o-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}


#clear-completed {
	float: right;
	line-height: 20px;
	text-decoration: none;
	background: rgba(0, 0, 0, 0.1);
	color: #555555;
	font-size: 11px;
	margin-top: 8px;
	margin-bottom: 8px;
	padding: 0 10px 1px;
	cursor: pointer;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
	border-radius: 12px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
	-ms-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
	-o-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
}


#clear-completed:hover {
	background: rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
	-ms-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
	-o-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
	box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
}


#clear-completed:active {
	position: relative;
	top: 1px;
}


#todo-count span {
	font-weight: bold;
}


#instructions {
	margin: 10px auto;
	color: #777777;
	text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
	text-align: center;
}


#instructions a {
	color: #336699;
}

.resultdisplay{
	text-align: center;
        display:block;
        cols:100;
        list-style-position: inside;}
        
#credits {
	margin: 30px auto;
	color: #999;
	text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
	text-align: center;
}


#credits a {
	color: #888;
}


.execute
{
ackground: rgba(0, 0, 0, 0.15);
-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;


float: right;
line-height: 20px;
text-decoration: none;


color: #555555;
font-size: 11px;
margin-top: 8px;
margin-bottom: 8px;
padding: 0 10px 1px;
cursor: pointer;
-webkit-border-radius: 12px;

outline: 0;

background: #5e5ee1;
color: #fff;
text-shadow: none;

font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
