/* HTML5 âœ° Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 15px; line-height: 1.231; }
body, button { font-family: georgia, sans-serif; color: #333333; }
input, select, textarea { font-family: arial, sans-serif; color: #333333; }
::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #188cef; }
a:visited { color: #188cef; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 0 0 0 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
/*
fieldset { border: 0; margin: 0; padding: 0; }
*/
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

/* ==|== primary styles =====================================================
   Author: Intersource LLC
   ========================================================================== */
html, body {
	height: 100%;
}

body {
    min-width: 900px;
    max-width: 1200px;
	position: relative;
}

body > header {
	padding: 10px;
}

body > footer {
	clear: both;
}

body > footer > div {
	float: right;
	padding: 10px;
}

#chrome {
	min-height: 400px;
}

a {
	text-decoration: none;
}

.edit .read-only span { background-color: #cccccc; height: 18px; width: 400px; float: left; padding: 3px; }
.read-only label { cursor: default; }

div.invalid > div > input, div.invalid > div > textarea { background-color: #f0dddd; }
div.required label em { color: #ff0000; }
div.required input {
/*	background-color: #fbec5d; */
}

div.optional label em {
	color: #FF9933;
	font-size: 24px;
	line-height: .7;
	vertical-align: middle;
	margin-right: 5px;
}

span.error { color: #ff0000; white-space: nowrap; }
label {font-weight: bold;}
.pieLabel {font-size: 9px;}

.donut table.jqplot-table-legend {
	width: 200px;
}
.line .jqplot-series-canvas {
	border-left: solid 1px #333333;
	border-bottom: solid 1px #333333;
}
div.jqplot-highlighter-tooltip {
    border: none;
    font-size: 1em;
	font-weight: bold;
    white-space: nowrap;
	background-color: #ff9933;
	color: #fff;
	border-radius: 10px 10px 10px 1px;
    padding: 4px;
	/* TODO: R1: fixed width and height so that 9 doesn't look squished' */
}

.home .jqplot-noData-container {
	background-color: white;
}

.jqplot-data-label {
	font-size: 12px;
}

.pie {
	height: 180px;
	width: 200px;
}

.age_by_reason table.jqplot-table-legend tr {
	display: inline;
	margin: 0 5px;
}


/* ==|== Log In Styles ====================================================== */

.login-wrapper {
    margin: auto;
    width: 300px;
}

#login dl dt {
    width:120px;
    float:left;
    position:relative;
}

#login dl dd {
    margin: 0px 0px 10px 0px;
}

#login form-field {
    border: 1px solid #e7e7e7;
}

#login .button {
    border-radius:3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #1a9beb;
    color:#fff;
    border: #558FB1 solid 2px;
    border-radius: 3px;
    padding:3px 7px;
    width: 75px;
}

.errorblock {
    border:1px solid #ff0000;
    padding:10px;
    color: #990000;
    font-size: 15px;
}

.ticket-header-message {
	display: none;
	margin: 20px;
	color: #ff0000;
    font-size: 15px;
}

/* ==|== Dashboard Styles ====================================================== */

section#user {
    text-align: right;
    color: #666666;
    line-height: 1.5;
	position: absolute;
	top: 0;
	right: 0;
}

section#user a {
    text-decoration: none;
}

section {
    margin:0px 10px 10px;
    position:relative;
}


section header {
    background:#666666;
}

section .two-column {
    padding:0px 10px 0px;
}

.two-column,
.three-column {
    width: 1000px;
    margin:auto;
}

.nested.two-column, .nested.three-column {
	width: auto;
}

.two-column .column {
    width: 45%;
    float:left;
    position:relative;
    margin-right:5%;
}

.two-column header, .three-column header {
    background:none;
}


section.in_progress .three-column  {
    margin-top: 40px;
}


.three-column .column {
    width: 28%;
    float:left;
    position:relative;
    margin-right:30px;
    border: 5px solid #e7e7e7;
    background:#fff;
    text-align:center;
}

.three-column header {
    background:none;
    margin:0px 0px 5px;
}

.three-column header h1 {
    margin: 0px;
    padding: 0px;
}

.three-column .data-section-title {
    margin:0px 0px 20px;
}


.three-column .arrow-right {
    position: absolute;
    top: -3px;
    right: -27px;
}

.three-column .pie {
    margin:auto;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
    border-left:23px solid #e7e7e7;
}

.flow-section-headers {
    font-family: georgia, sans-serif;
    font-size: 30px;
	font-weight: normal;
    color:#FF9933;
	text-transform: lowercase;
}

.flow-block {
    border-top: 5px solid #e7e7e7;
    text-align:center;
    padding: 10px;
}

.home .flow-block {
	border-top: 0px none;
}

.page-section-title {
    font-family: georgia, sans-serif;
    font-size: 36px;
	font-weight: normal;
	color:#ffffff;
    padding:5px;
    text-transform: uppercase;
}

.data-block {
    border: 1px solid #e7e7e7;
    padding: 10px 30px;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}


.data-section-title {
    font-family: georgia, sans-serif;
    font-size: 24px;
	font-weight: normal;
    color: #333333;
    margin: 0px;
    padding: 0px 10px 0px 0px;
    position: relative;
    top: 10px;
    display: inline;
    background:#fff;
    text-transform: uppercase;
    z-index:90;
}


.data-subsection-title {
    font-family: georgia, sans-serif;
    font-size: 24px;
	font-weight: normal;
    color:#666666;
    padding: 0 10px;
    text-transform: uppercase;
}

.data-block .data-section-title {
    position:relative;
    top:-15px;
}

.data-section-subtitle {
    background: #fff;
    margin-bottom: 25px;
    border-bottom: 1px solid #e7e7e7;
}

.rework_reject .data-block .data-subsection-title {
    float: left;
    margin-top: 60px;
}

.rework_reject .data-block .pie,
.rework_reject .data-block .donut {
    margin-left: 145px;
	width: 200px;
}

.execution_results .data-block {
    margin:auto;
}


.body-text {
    font-family: georgia, sans-serif;
    font-size: 15px;
    color:#666666;
}

.key-data {
    font-family: georgia, sans-serif;
    font-size: 36px;
	font-weight: normal;
    color:#666666;
    padding: 0 10px 0 20px;
    text-align: left;
    background: white;
	display:inline;
/*	margin-left: -25px;
	margin-top: -20px;*/
}

.bubble-text {
    font-family: georgia, sans-serif;
    font-size: 15px;
    color:#FFFFFF;
    font-weight: bold;
}

.graph-data-descriptions {
    font-family: georgia, sans-serif;
    font-size: 12px;
    color:#666666;
}

.graph-data-callout {
    font-family: georgia, sans-serif;
    font-size: 12px;
    color:#ff9933;
}

.ui-labels {
    font-family: arial, sans-serif;
    font-size: 12px;
    color:#666666;
}

.dropdown select {
    position: absolute;
    right: 20px;
    top: 45px;
    color:#fff;
    font-size: 15px;
	font-family: georgia;
	background-color: #666666;
	border-style: none;
}

.powered-logo img {
	width: 159px;
	opacity: 0.5;
	filter:alpha(opacity=50);
	padding-bottom: 6px;
}

.versioninfo {
	text-align: center;
    font-size: 11px;
    color: #999999;
}

.versioninfo.prod .build {
	color: white;
}

.tabcontent {
	position: absolute;
	top: 0;
	margin-left: 221px;
	min-width: 700px;

}

.content {
	min-width: 700px;
}

.content div {
	margin: 0 0 5px 0;
/*	white-space: nowrap; */
}

.optional-label {
	padding: 0 0 40px 40px;
}

.optional-label label {
	font-weight: normal;
}

.optional-label label em {
	color: #FF9933;
	font-size: 24px;
	line-height: .7;
	vertical-align: middle;
	margin-right: 5px;
}

.ticket-buttons {
	background-color: #cccccc;
	color: #188cef;
	margin: 0 0 20px 0;
	padding: 10px;
}

.ticket-buttons button {
	background-color: #cccccc;
	border-style: none;
	color: #188cef;
}

.ticket-buttons button.disabled {
	color: #909bce;
	cursor: default;
}

#main {
	position: relative;
	margin: 0 10px;
}

.tab-list-container {
	position: absolute;
	top: 0;
	width: 210px;
    border-right: 1px solid #cccccc;
	vertical-align: top;
}

.tab-list {
    min-width: 200px;
    max-width: 200px;
	margin: 0 0 0 10px;
    padding: 0 0px 0 0px;
}

.tab-list a {
	color: #333333;
	text-decoration: none;
}

.tab-list a:visited {
	color: black;
}

.tab-list .menu, .tab-list .tabs {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.tab-list li {
    list-style-type:none;
	border-bottom: 1px solid #cccccc;
	height:30px;
	line-height: 1.8em;
	padding-left: 10px;
}

.tab-list li em {
	color: #ff9933;
	font-weight: bold;
}

.close {
	background-color: transparent;
	border-style: none;
	color: #444272;
    float: right;
	vertical-align: middle;
	margin: 3px 5px 0 0;
}

.selected-navigation {
	background-color: white;
	border-right: 1px solid #ffffff;
	margin-right: -1px;
}

.plus {
    font-weight: bold;
    font-size: 36px;
    color: #FF9933;
}

.minus {
    font-weight: bold;
    font-size: 36px;
    color: #FF9933;
}
.percent {
    font-size: 24px;
}

.autosmop .data-section-title {
	text-transform: none;
}

.autosmop .tabcontent {
	position: relative;
}

.autosmop .loader {
	position:absolute;
	top: 0;
	width: 100%;
	height: 100%;
	margin: auto;
	text-align: center;
}

.autosmop .loader.image {
	z-index: 30000;
}
.autosmop .loader.image div {
	background-color: #ffffff;
	width: 64px;
	height: 64px;
	margin: 25% auto;
	text-align: center;
	border-radius: 10px;
	border: 2px solid #666699;
}

.autosmop .loader.image img {
	position: relative;
	margin: 16px;
}

.autosmop .loader.mask {
	position: absolute;
	background-color: #ffffff;
	opacity: .5;
	filter: alpha(opacity=50);
	z-index: 20000;
}

.dashboard .loader {
	position:fixed;
	top: 0;
	width: 100%;
	height: 100%;
	margin: auto;
	text-align: center;
}

.dashboard .loader.image {
	float: left;
	width: 100%;
	height: 100%;

	z-index: 30000;
	text-align: center;

}
.dashboard .loader.image div {
	position: relative;
	background-color: #ffffff;
	width: 64px;
	height: 64px;
	margin: 25% auto;
	text-align: center;
	border-radius: 10px;
}

.dashboard .loader.image img {
	position: relative;
	margin: 16px;
}

.dashboard .loader.mask {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: .5;
	filter: alpha(opacity=50);
	z-index: 20000;
}

/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {


}

@media only screen and (min-width: 768px) {

}



/* ==|== print styles ======================================================= */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

/* ==|== ticket list ======================================================== */
/* cellpadding="3" cellspacing="2" border="1" */
table.ticket-list {
	width: 100%;
}

table.ticket-list tr {
    height: 35px;

}

table.ticket-list td {
    vertical-align: middle;
    border-bottom: 2px solid #cccccc;
}

td.ticket-edit {
    background-color: #E7E7E7;
}

#tab1 {
	margin: 0 20px;
	position: relative;
	top: -20px;
}

.ticket-list-container {
	min-width: 775px;
    padding: 20px 10px 10px 10px;
    border-style: solid;
    border-color: #cccccc;
    border-width: 2px;
    border-radius: 10px;
	text-wrap:none;
}

.ticket-list-container.empty {

}

.home .two-column, .home .three-column {
	margin-left: 10px;
	padding-left: 0px;
	margin-top: 20px;
	padding-bottom: 20px;
	width: auto;
	clear: both;
}

.home .three-column .column {
    border-style: none;
}

.market-selector {
	position: absolute;
	right: 0px;
	margin-right: 50px;
	padding: 5px;
	z-index: 99;
}

.market-selector label {
	font-weight: normal;
}

.includes-market-data-indicator {
	display: none;
	color: #FF9933;
	font-size: 24px;
	margin-right: 5px;
	margin-left: 5px;
}

.includes-market-data-label {
	font-size: 18px;
	margin-left: 10px;
	display: none;
	padding-right: 5px;
}

.market-list-container {
	right: 50px;
	top: 132px;
	width: 475px;
	clear: both;
	position: absolute;
	z-index: 99;
	display:none;
}

.market-list-container-title {
    font-family: georgia, sans-serif;
    font-size: 12px;
	font-weight: normal;
    color: #333333;
    margin: 0px;
    padding: 0px 10px 0px 10px;
    position: relative;
    top: 6px;
	left: 5px;
    display: inline;
    background:#fff;
    text-transform: uppercase;
    z-index:90;
}

.market-list {
    padding: 10px 20px 20px 30px;
    border-style: solid;
    border-color: #cccccc;
    border-width: 2px;
    border-radius: 10px;
	text-wrap:none;
	list-style: none;
	background-color: white;
	width: 475px;
}

.market-list li {
	color: #cccccc;
	font-size: 12px;
	line-height: 14px;
	font-family: georgia, sans-serif;
	width: 250px;
	position: relative;
}

tr.market-ticket {
	background-color: #dddffd;
}

li.selected-market {
	color: black;
	list-style-image: url("../img/checkmark.png");
}

.ticket-list-headers {
	width: 100%;
	margin-bottom: 20px;
}

.ticket-list-header-items {
	width: 100%;
}

/*Ticket Field Styles*/
.field-label {
    width: 250px;
    text-align: right;
    padding-right: 10px;
    display: inline-block;
    vertical-align: top;
}

.field-label label {
	font-weight: normal;
}

.field-value {
    padding-left: 10px;
    display: inline-block;
	width: 450px;
}

.field-value .description {
    border-style: solid;
    border-color: #E7E7E7;
    border-width: 2px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 10px 10px 10px 0;
    padding: 5px;
}

.field-value input {
    width: 400px;
}

.field-value textarea {
    width: 400px;
	height: 75px;
}

.field-value select {
    width: 340px;

	/* Left here in case we decide to alter dropdown arrow in the future.
	overflow: hidden;
	background-image: url("../img/DropdownArrow.png");
	background-position-x: right;
	background-repeat: no-repeat;
	border: 2px solid #ccc;
	padding: 3px; */

}

.text-align-center {
    text-align: center;
}

.message {
	margin: 20px;
}

.unauthorized-main {
	margin: 100px 0 0 60px;
	clear: both;
	display:inline-block;
}

li.new-ticket {
	padding-left: 30px;
	background-image: url("../img/icon_newTicket.png");
	background-position-x: 3%;
	background-position-y: center;
	background-size: 18px 22px;
	background-repeat: no-repeat;
}

.new-ticket a, .new-ticket a:visited {
	color: #188cef;
	vertical-align: middle;
}

.smop-preview-link {
	float: right;
	cursor: pointer;
}

.compatibility {
	display: none;
	width: 100%;
	z-index: 20000;
}

.compatibility div {
	margin: auto;
	background-color: #ffcccc;
	padding: 10px;
	font-weight: bold;
}

.ie7 .compatibility {
	display: block;
}

/* ==|== navigation header styles =========================================== */
nav {
	height: 40px;
	background-color: #666666;
	margin-bottom: 20px;
}

.navigation-entry {
	float: left;
	height: 40px;
	width: 125px;
	line-height: 2.5em;
	text-align: center;
}

.navigation-entry a, .navigation-entry a:visited {
	color:white;
	height: 40px;
	display: inline-block;
	width: 125px;
}


.current-navigation-item {
	background-color: #333333;
}

.navigation-filler {
	border-left: solid 1px #dddddd;
}

/*List Expando Related Styles*/
.expando {

}

.expando-label .label-hide {
	display: none;
}

.expando-label .label-show {
	display: inline;
}

.expanded .expando-label .label-hide  {
	display: inline;
}

.expanded .expando-label .label-show {
	display: none;
}

.expando-trigger {
	cursor: pointer;
	padding-left: 25px;
	background-image: url("../img/ArrowExpandoClosed.png");
	background-position-x: left;
	background-position-y: center;
	background-size: 20px 20px;
	background-repeat: no-repeat;
}

.expanded .expando-trigger {
	background-image: url("../img/ArrowExpandoOpen.png");
}

.expando .ticket-list {
	display: none;
}

.expanded .ticket-list {
	display: table;
}

.columnHeader {
	font-weight: bold;
}

.changeSummary div {
	overflow: hidden;
	white-space: nowrap;
	width: 300px;
	text-overflow: ellipsis;
}

.market-ticket div {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.title div {
	overflow: hidden;
	white-space: nowrap;
	width: 300px;
	text-overflow: ellipsis;
}

.expando-label {
	float: left;
	width: 40%;
	margin: 10px 0;
}

.expando .summary {
	float: left;
	margin: 0 0 20px 0px;
}

.expando .summary span {
    font-family: georgia, sans-serif;
    font-size: 36px;
	font-weight: normal;
    color:#666666;
    text-align: right;
	width: 100px;
	display: inline-block;
	padding-right: 10px;
}

.emptyChart {
	text-align: center;
	vertical-align: middle;
	background-color: white;
	font-weight: bold;
	position: relative;
	margin: 75px;
}

.top-margin {
	margin-top: 20px;
}

div.entry {
	background-color: #cccccc;
	padding: 10px 0;
	margin: 6px;
}